name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      if: github.event_name == 'push'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build . --file Dockerfile --tag ghcr.io/ogden-marrow/roastingserver:latest
        docker build . --file Dockerfile --tag ghcr.io/ogden-marrow/roastingserver:${{ github.sha }}
        if [ "${{ github.event_name }}" = "push" ]; then
          docker push ghcr.io/ogden-marrow/roastingserver:latest
          docker push ghcr.io/ogden-marrow/roastingserver:${{ github.sha }}
        fi
